body{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./images/bgfinal.png");
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}



nav{
    height: 50px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    color: white;
    /* border: 2px solid black;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo{
    height: 40px;
    width: 100px;
    padding: 10px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li{
    padding: 15px;
    text-align: center;
    
}

.nav-menu a{
    text-decoration: none;
    color: rgb(247, 246, 246);

}

.nav-menu a:hover{
    text-decoration: underline;
    color: white;
}

#signuplogo, #ticket{
    width: 30px;
    height: 30px;
    
}


.slideshow-container {
    background-image: url("./images/DALL·E\ 2023-03-16\ 00.47.21\ -\ side\ view\ of\ an\ white\ cricket\ ball\ lying\ on\ the\ fresh\ green\ grass\ field\ in\ resolution\ 1200\ x\ 300px.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1380px;
    position: relative;
    margin: 40px;
    background-color: bisque;
    height: 300px;
    text-align: center;
  }

  .slideshow-container h2{
    color: white;
    font-size: 90px;
    padding-top: 40px;
    padding-left: 20px;
  }

  .slideshow-container h2 img{
    width: 200px;
    height: 200px;
    align-items: left;
    /* padding-top: 20px; */
  }



.kyt {
	display: flex;
    width: 100%;
	justify-content: center;
	/* padding: 10px; */
}

.kyt a img {
	padding: 20px;
    width: 140px;
    height: 140px;
}



.container{
    padding: 60px;
    /* padding-left: 250px; */
   display: flex;
   justify-content: center;
}

.box
{
    background-color: white;
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    transition: width height 2s;
    align-items: center;
    
    margin: 50px;
}
.image img{
    width:300px;
    transition: width height 2s;
    
 }

 /* .image img:hover{
    width:320px;
    height: 320px; 
 } */

/* .box:hover{
    width: 320px;
    height: 320px;
} */
.button
{
    margin-left: 100px;
    background-color: rgb(84, 82, 82);
    color: rgb(248, 245, 245);
    border: 2px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    box-shadow: 2px 2px rgba(153, 152, 152, 0.799);
}

.button a{
    color: white;
    text-decoration: none;
}