body{
    
   
    background-image: url("images/DALL·E\ 2023-03-16\ 00.47.21\ -\ side\ view\ of\ an\ white\ cricket\ ball\ lying\ on\ the\ fresh\ green\ grass\ field\ in\ resolution\ 1200\ x\ 300px.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    padding-top: 200px;
    padding-left: 500px;
   
}
.form{
    height:auto ;
    width: 500px;
    background-color: rgba(85, 83, 83, 0.758);
    color: white;
    padding: 30px;
    text-align: center;
}

.form input{
    width: 300px;
    height: 30px;
    border-radius: 3px;
}
 .form p a{
  
    color: white;
 }

 .form button{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(42, 40, 40);
 }

 .form button a{
    text-decoration: none;
    color: white;

 }